.item {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list {
    overflow-y: scroll;
    max-height: 380px;
    min-height: 100px;
    margin-right: -16px;
    padding-right: 8px;
}

.total {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

:global(.constructor-element) {
    width: 488px;
}

