.Constructor_list__3eXfe::-webkit-scrollbar-track {
    background: #2F2F37;
}

.Constructor_list__3eXfe::-webkit-scrollbar-thumb {
    background: #8585AD;

 
}

.Constructor_list__3eXfe::-webkit-scrollbar {
    width: 8px;
}

.BurgerIngredients_tabСontent__3dgjp::-webkit-scrollbar-track {
    background: #2F2F37;
}

.BurgerIngredients_tabСontent__3dgjp::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.BurgerIngredients_tabСontent__3dgjp::-webkit-scrollbar {
    width: 8px;
}

.constructor-element {
    width: 488px;
}