::-webkit-scrollbar-track {
    background: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
}

::-webkit-scrollbar {
    width: 8px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.constructor-element__text {
    width: 100%;
}